* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    /* background-image: url('Imagenes/Nan.jpg'); */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; */
}

/* Estilo del Header */
header {
    background-color: #82d465;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
}

header nav a:hover {
    color: black;
}

/* Estilo de las tarjetas */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
    padding: 0 10px;
}

.card {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(20% - 20px);
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card img {
    max-width: 100%;
    border-radius: 5px;
}

.card h3 {
    margin: 15px 0;
    font-size: 1.2em;
}

.card p {
    margin-bottom: 15px;
}

.card a {
    background-color: #82d465;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.card a:hover {
    background-color:white;
    color:  #82d465;
    border: 1px solid  #82d465;
}

/* Estilo del Footer */
footer {
    background-color:#82d465;
    color: #000000;
    padding: 10px 0;
    text-align: center;
}

footer a {
    color: #000000;
    text-decoration: none;
    padding: 5px 10px;
}

footer a:hover {
    text-decoration: underline;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%;
    }
}